body{
    background-color: rgb(238, 144, 238);
    color: rgb(0, 0, 0);
    font-family:Arial, sans-serif;
}
header{
    background-color: black;
    color: #f5a6d7;
    text-align: center;
    padding: 30px;
}
h1{
    font-size: 36px;
}
h2{
    color: black;
}
   
p{
    font-size: 18px;
    line-height: 1.6;
}