body{
    background-color: rgb(170, 99, 206);
    color: aqua;
    font-family:Arial, sans-serif;
}
header{
    background-color: #64fff5;
    color: #f5a6d7;
    text-align: center;
    padding: 30px;
}
h1{
    font-size: 36px;
}
h2{
    color: black;
}
   
p{
    font-size: 18px;
    line-height: 1.6;
}